footer {
  position: fixed;
  z-index: 999;
  bottom: 0;

  #footerContactCta {
    display: flex;
    flex-flow: row nowrap;
    margin: 0 auto;

    @include breakpoint-mobile {
      justify-content: flex-start;
      width: 100vw;
    }

    .item {
      position: relative;
      top: 20px;
      margin: 0 20px;
      padding: 20px;
      height: 50px;
      font-size: $textBig;
      color: $theme-light;
      cursor: pointer;
      outline: 0;
      border-radius: 5px;
      @include no-select;
      @include box-shadow(0, 0, 10px, $theme-dark);
      @include gradient($theme-dark, $theme-purple-dark, vertical);
      @include transition(all .3s ease-in-out);
      @include transform(translateY(0%));
      @include breakpoint-mobile {
        height: 30px;
        font-size: $textSmall;
        margin: 0 5px;
        padding: 15px;
        top: 15px;
        i {
          font-size: $textSmall;
        }
      }

      &.hidden {
        @include transform(translateY(100%));
        @include opacity(0);
      }

      &:hover {
        @include box-shadow-inset(0, 0, 15px, $theme-gray-darker);
        @include gradient($theme-darker, $theme-purple-dark, vertical);
        @include box-shadow(0, 0, 10px, $theme-darker);
        @include transform(translateY(-20%));
      }

      &:active, &:focus {
        @include box-shadow-inset(0, 0, 15px, $theme-gray-darker);
        @include gradient($theme-purple-accent, $theme-purple-dark, vertical);
        @include transform(translateY(-20%));
      }
    }
  }
}
