$theme-dark: #27181f;
$theme-dark-lighter: #452735;
$theme-dark-accent: #983667;
$theme-green-accent: #6dcb67;
$theme-accent-dark: #38495b;
$theme-accent: #689fac;
$theme-light-dark: #c0d1ca;
$theme-light: #ecf1e0;


$white: rgba(255, 255, 255, 1);

$fontMain: 'Quicksand', sans-serif;
$textBreadcrumb: 9pt;
$textTiny: .6rem;
$textSmall: .8rem;
$textNormal: 14pt;
$textBig: 1.4rem;
$textH3: 1.8rem;
$textH2: 3rem;
$textH1: 6.5rem;

$wrapWidth: 100vw;

html, body {
  max-width: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
  min-width: 320px;


  &.scrollOff {
    overflow-y: hidden !important;
  }

}

body {
  @include gradient($theme-dark, $theme-dark-lighter, vertical);
  font-size: $textNormal;
  font-family: $fontMain;
  color: $theme-accent-dark;
}

a {
  text-decoration: none;
  background-color: transparent;

  &:hover, &:active, &:focus {
    outline: 0;
  }
}

b, strong {
  font-weight: 600;
}


%flex-center {
  justify-content: center;
  align-items: center;
  align-content: center;
}

#siteWrapper {
  margin: 0 auto;
  overflow: hidden;
  @include box(100vw, 100vh);
  background-size: auto 100%;
  display: flex;
  @extend %flex-center;
}

@include keyframes(elemShow) {
  from {
    @include opacity(0);
    @include transform(translateY(50%));
  }
  to {
    @include opacity(1);
    @include transform(translateY(0%));
  }
}




