$theme-darker: #21141a;
$theme-dark: #27181f;
$theme-dark-lighter-horizon: #341d28;
$theme-dark-lighter: #452735;
$theme-dark-accent: #983667;
$theme-green-accent: #6dcb67;
$theme-accent-darker: #181e25;
$theme-accent-dark: #38495b;
$theme-accent: #689fac;
$theme-light-dark: #c0d1ca;
$theme-light: #ecf1e0;


$white: rgba(255, 255, 255, 1);

$fontMain: 'Quicksand', sans-serif;
$textBreadcrumb: 9pt;
$textTiny: .6rem;
$textSmall: .8rem;
$textNormal: 14pt;
$textBig: 1.4rem;
$textH3: 1.8rem;
$textH2: 3rem;
$textH1: 6.5rem;

$wrapWidth: 100vw;

html, body {
  max-width: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
  min-width: 320px;


  &.scrollOff {
    overflow-y: hidden !important;
  }

}

body {
  background: $theme-dark;
  font-size: $textNormal;
  font-family: $fontMain;
  color: $theme-accent-dark;
}

a {
  text-decoration: none;
  background-color: transparent;

  &:hover, &:active, &:focus {
    outline: 0;
  }
}

b, strong {
  font-weight: 600;
}


%flex-center {
  justify-content: center;
  align-items: center;
  align-content: center;
}

#mainScreenWrapper {
  margin: 0 auto;
  overflow: hidden;
  @include box(100vw, 100vh);
  display: flex;
  @extend %flex-center;

  .bgHorizon {
    display: flex;
    flex-flow: column wrap;
    position: absolute;
    @include box(100vw, 100vh);
    @include transition(all .3s ease);

    &.hidden {
      @include opacity(0);
    }

    div {
      height: 50vh;
      @include gradient($theme-dark-lighter, $theme-dark-lighter-horizon, vertical);
    }

  }
}

.loader,
.loader:after {
  border-radius: 50%;
  width: 10em;
  height: 10em;
}

.loader {
  margin: 60px auto;
  font-size: $textTiny;
  position: relative;
  top: 80px;
  z-index: 4;
  text-indent: -9999em;
  border-top: 1.1em solid rgba(255, 255, 255, 0.2);
  border-right: 1.1em solid rgba(255, 255, 255, 0.2);
  border-bottom: 1.1em solid rgba(255, 255, 255, 0.2);
  border-left: 1.1em solid $theme-accent;
  @include transform(translateZ(0));
  @include animation(load8 1.1s infinite linear);
  @include transition(all .3s ease);

  &.hidden {
    @include opacity(0);
    @include transform(translateZ(0));
  }

}

@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}


@include keyframes(elemShow) {
  from {
    @include opacity(0);
    @include transform(translateY(50%));
  }
  to {
    @include opacity(1);
    @include transform(translateY(0%));
  }
}




