@include keyframes(codeDisappear) {
  0% {
    @include opacity(1);
    @include transform(translateY(0));
  }
  80% {
    @include opacity(0);
    @include transform(translateY(-100%));
  }
  100% {
    @include opacity(0);
    @include transform(translateY(0%));
  }
}

@include keyframes(braceLeft) {
  0% {
    color: $theme-accent-dark;
    @include opacity(0);
    @include transform(translateX(200%));
  }
  100% {
    color: $theme-light;
    @include opacity(1);
    @include transform(translateX(0%));
  }
}

@include keyframes(braceRight) {
  0% {
    color: $theme-accent-dark;
    @include opacity(0);
    @include transform(translateX(-200%));
  }
  100% {
    color: $theme-light;
    @include opacity(1);
    @include transform(translateX(0%));
  }
}


#middleMenuWraper {
  height: 30vh;
  display: flex;
  @extend %flex-center;
  flex-flow: row nowrap;

  > div {
    &:nth-child(2) {
      display: flex;
      @extend %flex-center;
    }


    #midBracesAnimation {
      display: inline-block;
      min-width: 150px;
      min-height: 150px;

      &.animated {
        @include animation(codeDisappear .3s ease-in 1.7s forwards);
      }

      canvas {
        margin: 10px;
      }
    }

    span {
      color: $theme-light;
      @include no-select;

      &.siteTitle {
        font-size: $textH2;
        margin: 0 25px;
      }

      &.braces {
        display: inline-block;
        position: relative;
        font-size: $textH1;

        &:first-child {
          color: $theme-accent-dark;
          @include opacity(0);
          @include transform(translateX(200%));
          @include animation(braceLeft .3s ease-in .2s forwards);
        }

        &:last-child {
          top: -20px;
          color: $theme-accent-dark;
          @include opacity(0);
          @include transform(translateX(-200%));
          @include animation(braceRight .3s ease-in .2s forwards);
        }
      }
    }
  }

}
