@include keyframes(codeDisappear) {
  0% {
    @include opacity(1);
    @include transform(translateY(0));
  }
  80% {
    @include opacity(0);
    @include transform(translateY(-50%));
  }
  100% {
    @include opacity(0);
  }
}

#middleMenuWrapper {
  height: 30vh;
  display: flex;
  @extend %flex-center;
  flex-flow: row nowrap;

  > div {
    &:nth-child(2) {
      display: flex;
      @extend %flex-center;
    }


    #midBracesAnimation {
      display: inline-block;
      min-width: 150px;
      min-height: 150px;

      &.animated {
        @include animation(codeDisappear .5s ease-out 2s forwards);
      }

      canvas {
        margin: 10px;
      }
    }

    span {
      color: $theme-light;
      @include no-select;

      &.siteTitle {
        font-size: $textH2;
        margin: 0 25px;
      }

      &.braces {
        display: inline-block;
        position: relative;
        font-size: $textH1;

        @include transition(all .5s cubic-bezier(0.25, 0.1, 0.25, 1));

        &.braces-show {
          color: $theme-light !important;

          @include transform(translateX(0%) !important);
        }

        &:first-child {
          color: $theme-accent;

          @include transform(translateX(200%));
        }

        &:last-child {
          top: -20px;
          color: $theme-dark-accent;

          @include transform(translateX(-200%));

        }
      }
    }
  }

}
