main {
  position: absolute;
  margin: 0 auto;
  overflow: hidden;
  pointer-events: all;
  @include box(100vw, 100vh);
  @include transition(all .3s ease);

  &.unselected {
    pointer-events: none;
    @include opacity(0);

    header {
      max-height: 0;
    }
  }

  header {
    max-height: 90px;
    padding: 5px 0;
    position: fixed;
    z-index: 9999;
    @include position(0, 0);
    @include gradient($white, $theme-light-dark, vertical);
    @include box(100%, auto);

    @include transition(all .3s ease);

    .headerWrapper {
      max-width: 1024px;
      margin: 0 auto;
      display: flex;
      position: relative;
      @extend %flex-center;
    }

    span {
      color: $theme-dark;
      @include no-select;

      &.siteTitle {
        font-size: $textH3;
        margin: 0 25px;
      }

      &.braces {
        display: inline-block;
        position: relative;
        font-size: $textH2;

        &:first-of-type {
          color: $theme-accent;
        }

        &:last-of-type {
          top: -10px;
          color: $theme-dark-accent;

        }
      }
    }
  }

  section {
    margin-top: 100px;
    @include gradient($theme-dark, $theme-dark-lighter-horizon, vertical);
    @include box(100vw, 100vh);
    @include transition(all .3s ease);

    #sectionAreaWrapper {
      position: relative;
      margin: 0 auto;
      max-width: 1024px;

      .sectionEntry {
        display: flex;
        flex-flow: column wrap;
        @include transition(all .3s ease);
        @include transform(translateX(-50%));
        @include opacity(0);

        &.hidden {
          display: none;
        }

        &.selected {
          @include transform(translateX(0%));
          @include opacity(1);
        }

        &.about {
          .entryImage {
            background: url('../assets/sections/about_pic.jpg') no-repeat 50% 10% / cover;
          }
        }

        &.skills {
          .entryImage {
            background: url('../assets/sections/skills_pic.jpg') no-repeat 50% 10% / cover;
          }
        }


        &.portfolio {
          .entryImage {
            background: url('../assets/sections/portfolio_pic.jpg') no-repeat 50% 10% / cover;
          }
        }

        .entryHighlight {
          display: flex;
          flex-flow: row nowrap;
          @extend %flex-center;

          > div {
            position: relative;
            border-radius: 5px;
            @include box-shadow(0, 0, 50px, $theme-dark);
          }

          .entryImage {
            left: 80px;
            @include box(50%, 200px);

            &::before {
              background: rgba(255, 255, 255, .3);
              content: '';
              position: absolute;
              z-index: 4;
              border-radius: 5px;
              @include box(70%, 30%);
              @include position(65%, 65%);
            }

            &::after {
              content: '';
              position: absolute;
              border-radius: 5px;
              @include box(100%, 100%);
              @include gradient($theme-dark-lighter, $theme-dark-accent, vertical);
              @include opacity(.6);
              @include position(0, 0);
            }
          }

          .entryTitle {
            width: 50%;
            padding: 20px;
            color: $theme-light;
            font-size: $textH3;
            right: 80px;
            top: 100px;
            z-index: 5;
            @include gradient($theme-dark, $theme-dark-lighter-horizon, horizontal);
            @include no-select;

            span {
              color: $theme-accent;
            }
          }
        }

        .entryContent {
          margin-top: 50px;
          width: 100%;

          .entryName {
            font-size: $textH3;
            color: $theme-light;
            padding: 20px;
            position: relative;
            @include no-select;

            &::after {
              content: '';
              position: absolute;
              display: block;
              @include box(100%, 4px);
              @include gradient($theme-dark-accent, $theme-dark-lighter-horizon, horizontal);
              @include positionb(0, 0);
            }

            span {
              color: $theme-accent;
            }
          }
        }
      }
    }
  }

  #backToMainMenuCta {
    position: absolute;
    z-index: 10000;
    color: $theme-light;
    display: flex;
    cursor: pointer;
    overflow: hidden;
    border-radius: 10px;
    right: 0%;
    @extend %flex-center;
    @include box-shadow(0, 0, 50px, $theme-darker);
    @include no-select;
    @include gradient($theme-dark-lighter-horizon, $theme-dark-lighter, vertical);
    @include transition(all .5s ease-out);
    @include box(70px, 70px);
    @include transform(translateY(30px));

    i {
      font-size: $textH3;
    }

    &:hover {
      @include gradient($theme-dark-lighter-horizon, $theme-darker, vertical);
      @include box-shadow(0, 0, 50px, $theme-darker);
    }

    &:active, &:focus {
      @include gradient($theme-dark-accent, $theme-dark-lighter-horizon, vertical);
    }

    &:before {
      content: '';
      background-color: $theme-dark-accent;
      border-radius: 50%;
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      @include animation(pulse 2s ease-out 0s infinite);
      @include transform(scale(0.001, 0.001));
    }

    @include keyframes (pulse) {
      50% {
        @include transform(scale(1.5, 1.5));
        @include opacity(0);
        background-color: $theme-dark-accent;
      }
      99% {
        @include transform(scale(0.001, 0.001));
        @include opacity(0);
      }
      100% {
        @include transform(scale(0.001, 0.001));
        @include opacity(1);
        background-color: $theme-dark-accent;
      }
    }
  }
}
